:focus {
  outline: none;
}

input[type="text"] {
  color: #333;
  box-sizing: border-box;
  height: 42px;
  width: 100%;
}

button {
  background-color: #1976d2;
  border: none;
  color: white;
  height: 42px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button:hover {
  background-color: #fff;
  color: #1976d2;
  border: 1px solid #1976d2;
  cursor: pointer;
}

.col-3 {
  float: left;
  width: 27.33%;
  margin: 40px 3%;
  position: relative;
}

.col-12 {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.lijepo-polje ~ .focus-border:before,
.lijepo-polje ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #1976d2;
  transition: 0.3s;
}
.lijepo-polje ~ .focus-border:after {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}
.lijepo-polje ~ .focus-border i:before,
.lijepo-polje ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #1976d2;
  transition: 0.4s;
}
.lijepo-polje ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}
.lijepo-polje:focus ~ .focus-border:before,
.lijepo-polje:focus ~ .focus-border:after {
  width: 100%;
  transition: 0.3s;
}
.lijepo-polje:focus ~ .focus-border i:before,
.lijepo-polje:focus ~ .focus-border i:after {
  height: 100%;
  transition: 0.4s;
}
